
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Listing posts</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>

      <% @posts.each do |p| %>
          <tr>
            <td><%= p.title %></td>
            <td><%= p.text %></td>
            <td><%= link_to 'Show', post_path(p) %></td>
            <td><%= link_to 'Edit', edit_post_path(p)%></td>
            <td><%= link_to 'Destroy', post_path(p), method: :delete, data: {confirm: 'Are you sure?'}  %></td>
          </tr>
      <% end %>
    </table>

</body>
</html>